flows.json
[
    {
        "id": "9583b8de.96bc48",
        "type": "tab",
        "label": "Basic Dashboard Elements",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e90c989871c8bd6d",
        "type": "ui_gauge",
        "z": "9583b8de.96bc48",
        "name": "Nivel de Agua",
        "group": "g1_group",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Nivel de Agua",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 60,
        "seg2": 90,
        "diff": false,
        "className": "",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "1bcfc82e3f101289",
        "type": "ui_chart",
        "z": "9583b8de.96bc48",
        "name": "Caudal de Agua",
        "group": "g1_group",
        "order": 2,
        "width": "9",
        "height": "4",
        "label": "Caudal de Agua",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "0625f24a2f9adc4d",
        "type": "ui_chart",
        "z": "9583b8de.96bc48",
        "name": "Meteorología",
        "group": "g2_group",
        "order": 1,
        "width": 12,
        "height": 4,
        "label": "Humedad / Temp / Presión",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00b5e2",
            "#ff7f0e",
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "02ed72a5099403b1",
        "type": "ui_chart",
        "z": "9583b8de.96bc48",
        "name": "UV",
        "group": "g2_group",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Rayos UV",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9af567307c508309",
        "type": "ui_chart",
        "z": "9583b8de.96bc48",
        "name": "Viento",
        "group": "g2_group",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Velocidad del Viento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1340d349098afca4",
        "type": "ui_gauge",
        "z": "9583b8de.96bc48",
        "name": "Nivel de Alimento",
        "group": "g4_group",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Nivel de Alimento",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 60,
        "seg2": 90,
        "diff": false,
        "className": "",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "f07cfa66a25cc3c7",
        "type": "ui_button",
        "z": "9583b8de.96bc48",
        "name": "Ajustar Nivel",
        "group": "g4_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Ajustar Nivel",
        "tooltip": "Click para ajustar alimento",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ajustar",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "1340d349098afca4"
            ]
        ]
    },
    {
        "id": "3db18020e72b55bd",
        "type": "ui_slider",
        "z": "9583b8de.96bc48",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "g1_group",
        "order": 1,
        "width": "9",
        "height": "2",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "e90c989871c8bd6d",
                "1bcfc82e3f101289",
                "da3526b3184d0ddb"
            ]
        ]
    },
    {
        "id": "9c4427565372d333",
        "type": "ui_slider",
        "z": "9583b8de.96bc48",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "g2_group",
        "order": 3,
        "width": "8",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "0625f24a2f9adc4d",
                "02ed72a5099403b1",
                "9af567307c508309"
            ]
        ]
    },
    {
        "id": "da3526b3184d0ddb",
        "type": "ui_chart",
        "z": "9583b8de.96bc48",
        "name": "",
        "group": "g1_group",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "Nivel del Agua",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a631e1ed05386d25",
        "type": "ui_spacer",
        "z": "9583b8de.96bc48",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a39d5e1f7edd2f2c",
        "type": "ui_spacer",
        "z": "9583b8de.96bc48",
        "name": "spacer",
        "group": "cddf4c9d581872b1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "g1_group",
        "type": "ui_group",
        "name": "Grupo 1 - Agua",
        "tab": "de296677.584f4",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "g2_group",
        "type": "ui_group",
        "name": "Grupo 2 - Clima",
        "tab": "3c96cd6b11326e1c",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "g4_group",
        "type": "ui_group",
        "name": "Grupo 4 - Alimentación",
        "tab": "79aee7e418663290",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "cddf4c9d581872b1",
        "type": "ui_group",
        "name": "Grupo #5",
        "tab": "35a1a1f5ad0deb25",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "de296677.584f4",
        "type": "ui_tab",
        "name": "Interfaz de Arduinos ESP32",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c96cd6b11326e1c",
        "type": "ui_tab",
        "name": "Grupo #2",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79aee7e418663290",
        "type": "ui_tab",
        "name": "Grupo #4",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "35a1a1f5ad0deb25",
        "type": "ui_tab",
        "name": "Grupo #5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]